@media screen and (max-width:620px) {
    .container{
        width:100%;
    }
    a{
        font-size: 12px;
    }
    .left{
        padding-left:40px;
    }
    .left span{
        display: none;
    }
    .first div{
        left:25%;
    }
    .first b{
        font-size: 18px;
    }
    .jnbox{
        height:70px;
    }
    .zijibox{
        height:150px;
    }
    .zijibox div div{
        width:50px;height:50px;border:5px solid #fff;border-radius:50%;
        float: left;margin-left:20%;background-size: cover;margin-top:13%;
    }
    .zijibox div span{
        margin-top:10%;margin-left:20%;font-size:8px;
    }
    .lianjie{
        max-width:600px;
    }
    .lianjie li{
        width:50%;height:100%;
        float: left;
    }
    .ziwojieshao p{
        font-size: 12px;
    }
    .third p{
        font-size: 12px;
    }
    .third>.container>.tubiao{
        height:390px;position: relative;
    }
    .tubiao>div{
        width:48%;position: relative;
    }
    .tubiao>div>.bgimg{
        width:100%;height:130px;position: absolute;left:10%;
    }
    .tubiao>div>span{
        position: absolute;top:65%;
        left:20%;text-align:center;
    }
    .tubiao>div>ul{
        padding:5%;left:15%;
    }
    .tubiao>div>.sanjiao{
        left:45%;
    }
    .fifth p:nth-child(2){
        transform: translate(50px,200px) rotate(-10deg);color:#f60;font-size:16px;
        opacity: 0;
    }
    .fifth p:nth-child(3){
        transform: translate(220px,180px);color:rgb(36,255,0);font-size:22px;opacity: 0;
    }
    .fifth p:nth-child(4){
        transform: translate(400px,200px) rotate(10deg);color:rgb(7,147,237);font-size:20px;
        opacity: 0;
    }
    .fifth p:nth-child(5){
        transform: translate(50px,250px) rotate(-15deg);color:rgb(179,58,58);font-size:20px;
        opacity: 0;
    }
    .fifth p:nth-child(6){
        transform: translate(230px,300px) rotate(3deg);color:rgb(128,128,128);font-size:20px;
        opacity: 0;
    }
    .fifth p:nth-child(7){
        transform: translate(400px,290px) rotate(10deg);color:rgb(28,156,124);font-size:20px;
        opacity: 0;
    }
    .fifth p:nth-child(8){
        transform: translate(210px,240px);color:red;font-size:32px;opacity: 0;
    }
    .fifth p:nth-child(9){
        transform: translate(20px,300px) rotate(-10deg);color:red;font-size:20px;opacity: 0;
    }
    .fifth p:nth-child(10){
        transform: translate(140px,360px);color:red;font-size:26px;opacity: 0;
    }
    .fifth p:nth-child(11){
        transform: translate(80px,420px);color:rgb(249,144,220);font-size:26px;opacity: 0;
        cursor: pointer;
    }
}
/*@media screen and (max-width:1050px) {*/
    /*.tubiao>div>span{*/
        /*left:34%;text-align: center;*/
    /*}*/
    /*.sanjiao{*/
        /*left:45%;*/
    /*}*/
/*}*/